/* Barra de navegación */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4CAF50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; /* Distribuye los enlaces de manera equitativa */
    flex-wrap: wrap;
}

.navbar li {
    margin: 0;
}

.navbar a {
    display: block;
    padding: 15px 20px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: #45a049;
    color: #f4f4f9;
}

/* Botón de menú hamburguesa (para pantallas pequeñas) */
.navbar .menu-icon {
    display: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    padding: 15px 20px;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
}

.navbar.active ul {
    display: flex;
    flex-direction: column;
}

/* Estilo para el encabezado principal */
header {
    text-align: center;
    padding: 40px 20px;
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 700;
}

header h1 a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

header h1 a:hover {
    color: #e0e0e0;
}

/* Estilo responsivo */
@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar.active ul {
        display: flex;
    }

    .navbar .menu-icon {
        display: block;
        text-align: center;
    }

    .navbar a {
        text-align: center;
        padding: 10px;
    }

    header h1 {
        font-size: 2em;
    }
}
