/* Barra de navegación */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4CAF50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; /* Distribuye los enlaces de manera equitativa */
    flex-wrap: wrap;
}

.navbar li {
    margin: 0;
}

.navbar a {
    display: block;
    padding: 15px 20px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: #45a049;
    color: #f4f4f9;
}

/* Estilo para el encabezado principal */
header {
    text-align: center;
    padding: 40px 20px;
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 700;
}

header h1 a {
    color: white; /* Mantiene el enlace blanco para que se integre con el header */
    text-decoration: none; /* Elimina el subrayado del enlace */
    transition: color 0.3s; /* Añade una transición suave al cambiar el color */
}

header h1 a:hover {
    color: #e0e0e0; /* Cambia el color del enlace a un tono más claro al pasar el cursor */
}

/* Estilo responsivo para la barra de navegación y el header */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    .navbar ul {
        flex-direction: column;
    }

    .navbar a {
        text-align: center;
        padding: 10px;
    }
}
